<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
        <title>Login</title>
    </head>
    <body>
        <header>
            <div class="header-text">
                <img src="../assets/img/bars.png" alt="Bars" class="menu-bars">
                <a href="./index.html">
                    <span class="header-radium">Radium</span>
                    <span class="header-rocket">Rocket</span>
                </a>
            </div>
        </header>
        <main>
            <form>
                <h1>Log in</h1>
                <div class="label">
                    <label for="email">Email</label>
                </div>
                <div class="input">
                    <input id="emailId">
                    <div>
                        <span id="spanEmail"></span>
                    </div>
                </div>
                <div class="label">
                    <label for="password">Password</label>
                </div>
                <div class="input">
                    <input id="password" type="password">
                    <div>
                        <span id="spanPass"></span>
                    </div>
                </div>
                <div class="buttons">
                    <button id="submit" class="submit" type="submit" href="#">Continue</button>
                    <button class="passw" type="button">Password Recovery</button>
                </div>
                <p>You don't have an account? <a href="../views/sign-up.html">Sign up here</a></p>
            </form>
            <div id="myModal" class="modal">
				<div class="modal-content">
				<span class="close">&times;</span>
				<p id="modalP"></p>
				</div>
			</div>
            <footer>
                <div class="footerp">
                    <p>Trackgenix ®</p>
                </div>
            </footer>
        </main>
        <script src="../javascript/login.js"></script>
    </body>
</html>