<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
    <title>Sign up</title>
</head>
<body>
    <header>
		<div class="header-text">
			<img src="../assets/img/bars.png" alt="Bars" class="menu-bars">
			<a href="./index.html">
				<span class="header-radium">Radium</span>
				<span class="header-rocket">Rocket</span>
			</a>
		</div>
	</header>
    <main>
        <form>
            <h1>Sign Up</h1>
            <div class="form-block">
                <div>
                    <label for="f-name">First name</label>
                    <input id="nameId" class="input">
                </div>
                <div>
                    <label for="l-name">Last name</label>
                    <input id="lNameId" class="input">
                </div>
            </div>
            <div class="form-block">
                <div>
                    <label for="dni">DNI</label>
                    <input id="dniId" class="input">
                </div>
                <div>
                    <label for="birthday">Birthday</label>
                    <input id="birthdayId" class="input">
                </div>
            </div>
            <div class="form-block">
                <div>
                    <label for="cellphone">Cellphone</label>
                    <input id="phoneId" class="input">
                </div>
                <div>
                    <label for="address">Address</label>
                    <input id="addressId" class="input">
                </div>
            </div>
            <div class="form-block">
                <div>
                    <label for="location">Location</label>
                    <input id="locationId" class="input">
                </div>
                <div>
                    <label for="postal-code">Postal code</label>
                    <input id="postalCodeId" class="input">
                </div>
            </div>
            <div class="email-block">
                <label for="email">Email</label>
                <input id="emailId">
            </div>
            <div class="form-block">
                <div>
                    <label for="password">Password</label>
                    <input id="passwordId" class="input" type="password">
                </div>
                <div>
                    <label for="r-password">Repeat password</label>
                    <input id="passwordRId" class="input" type="password">
                </div>
            </div>
            <div class="buttons">
                <button id="submitId" class="submit" type="submit" href="#">Continue</button>
                <button class="reset" type="button">Reset</button>
            </div>
        </form>
        <footer>
            <div class="footerp">
                <p>Trackgenix ®</p>
            </div>
        </footer>
    </main>
    <script src="../javascript/sign-up.js"></script>
</body>
</html>