/* general */
body {
  font-family: 'Roboto', sans-serif;
  color: #373867;
  font-weight: 400;
}
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: #373867;
}
aside {
  position: fixed;
  top: 80px;
  width: 300px;
  height: 100%;
  background-color: #D9D9E2;
}
main {
  display: inline-block;
  margin-top: 80px;
  margin-left: 300px;
  padding-top: 120px;
  padding-left: 92px;
}
footer {
  display: inline-block;
  width: 100%;
  height: 80px;
  margin-top: 150px;
  background-color: #D9D9E2;
}
a:link, a:visited, a:active{
  text-decoration: none;
}
h1 {
  line-height: 100px;
  font-size: 60px;
  font-weight: 700;
}
h2 {
  padding: 30px;
  padding-left: 0;
  font-size: 30px;
  font-weight: 700;
}
h3 {
  padding: 20px;
  padding-left: 0;
  font-size: 20px;
  font-weight: 700;
}
h4 {
  margin: 20px 0 10px 0;
  font-size: 14px;
  font-weight: 700;
}
/* aside */
address li {
  padding: 10px 10px 10px 10px;
  line-height: 16.41px;
  color: #373867;
  font-weight: 700;
  font-size: 14px;
}
address a {
  padding-left: 10px;
  text-decoration: none;
  color: #373867;
}
/* main */
ol {
  list-style-type: decimal;
}
/* main-form */
form span {
  display: block;
  font-size: 14px;
  font-weight: 500;
}
input::placeholder{
  padding-left: 10px;
}
textarea {
  display: block;
  width: 810px;
  height: 150px;
  margin-bottom: 20px;
}
textarea::placeholder {
  padding-left: 10px;
  filter: opacity(50%);
}
/* footer */
footer ul {
  margin-left: 300px;
}
footer li {
  display: inline-block;
  position: relative;
  top: 10px;
}
footer p {
  display: inline-block;
  position: relative;
  padding-left: 850px;
  bottom: 30px;
}
/* header-classes */
.header-text {
  padding: 10px 20px 10px 20px;
}
.header-radium {
  color: #46A37C;
  font-size: 60px;
  font-weight: bold;
}
.header-rocket {
  color: #AACF9B;
  font-size: 60px;
  font-weight: lighter;
}
.menu-bars {
  position: fixed;
  top: 100px;
  left: 330px;
  width: 40px;
  height: 40px;
}
/* aside-classes */
.aside {
  padding: 40px 30px 40px 30px;
}
.aside-menu-text {
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline #AACE9B;
}
.aside-list {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}
.aside-contactus {
  padding-top: 60px;
}
.aside-contactus-text {
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline #AACE9B;
}
.h-line-aside {
  height: 1px;
  background-color: #373867;
  border-radius: 10px;
  opacity: 0.4;
}
.aside-contactus p {
  padding-bottom: 20px;
  padding-bottom: 30px;
  line-height: 18px;
  font-size: 12px;
}
/* main-classes */
.section-1 {
  display: inline-block;
  padding-bottom: 40px;
}
.section-1 p {
  text-align: left;
  padding: 10px;
  padding-left: 0;
  line-height: 30px;
}
.img-clock {
  float: right;
  z-index: -1;
  width: 440px;
  height: 340px;
  padding: 30px;
  padding-right: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));;
}
/* main-blocks-classes */
.block {
  display: inline-block;
  width: 45%;
  padding: 10px;
}
.block-text {
  display: inline-table;
  position: relative;
  bottom: 30px;
  width: 70%;
  line-height: 18px;
}
.star-img {
  display: inline-table;
  position: relative;
  top: 20px;
  padding: 20px;
}
/* form-classes */
.personal-data input {
  display: inline-block;
  width: 375px;
  height: 30px;
  margin-bottom: 30px;
  border: 1px solid #373867;
  border-radius: 4px;
}
.personal-data input:nth-child(2) {
  margin-left: 50px;
}
.form-radio {
  display: inline-block;
  margin: 30px 0 30px 0;
  font-size: 14px;
  font-weight: 500;
}
.form-radio:first-child {
  padding-right: 225px;
}
.form-radio:nth-child(2) {
  padding-right: 225px;
}
.submit {
  display: inline-block;
  padding: 14px 36px;
  background-color: #AACE9B;
  border-radius: 5px;
  border-width: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.reset {
  display: inline-block;
  margin: 0 0 10px 30px;
  padding: 12px 36px;
  background-color: #ffffff;
  border-radius: 5px;
  border-width: 2px;
  text-transform: uppercase;
  font-weight: 500;
}
/* main-aboutus-classes */
.aboutus-text {
  display: inline-block;
  position: relative;
  bottom: 50px;
  line-height: 30px;
  width: 45%
}
.aboutus-logo {
  display: inline-block;
  position: relative;
  left: 30px;
  width: 45%
}
/* main-lastsection-classes */
.a-list {
  display: inline-block;
  width: 20%;
  padding:0 100px 0 10px;
  line-height: 18px;
  font-size: 12px;
}
/* hr line */
.h-line {
  height: 2px;
  width: 820px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #373867;
  border-radius: 10px;
  opacity: 0.4;
}