body {
  font-family: 'Roboto', sans-serif;
  color: #373867;
  font-weight: 400;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

header {
  position: fixed;
  width: 1300px;
  height: 80px;
  background-color: #373867;
  z-index: 1;
}

aside {
  position: fixed;
  top: 80px;
  width: 300px;
  height: 100%;
  background-color: #D9D9E2;
}

main {
  display: inline-block;
  margin-top: 80px;
  margin-left: 300px;
  padding-top: 120px;
  padding-left: 92px;
}

footer {
  display: inline-block;
  width: 963px;
  height: 96px;
  background-color: #D9D9E2;
  margin-top: 832px;
  margin-left: 300px;
}

/* header */

.header-text {
  padding: 10px 20px 10px 20px;
}

.header-radium {
  color: #46A37C;
  font-size: 60px;
  font-weight: bold;
}

.header-rocket {
  color: #AACF9B;
  font-size: 60px;
  font-weight: lighter;
}

.menu-bars {
  position: fixed;
  top: 100px;
  left: 330px;
  width: 40px;
  height: 40px;
}

/* aside */

.aside {
  padding: 40px 30px 40px 30px;
}

.aside-menu-text {
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline #AACE9B;
  padding-bottom: 15px;
}

.aside-list {
  font-size: 14px;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
}

.aside-contactus {
  padding-top: 30px;
}

.aside-contactus-text {
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline #AACE9B;
  padding-bottom: 15px;
}

.h-line-aside {
  height: 1px;
  background-color: #373867;
  opacity: 0.4;
  border-radius: 10px;
}

.aside-contactus p {
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 20px;
}

address li {
  color: #373867;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  padding: 10px 10px 10px 10px;
}

address a {
  text-decoration: none;
  color: #373867;
  padding-left: 10px;
}

/* section-1 */

.section-1 {
  display: inline-block;
  padding-bottom: 40px;
}

.section-1 p {
  line-height: 30px;
  padding: 10px;
  padding-left: 0;
  text-align: left;
}

h1 {
  font-size: 60px;
  line-height: 100px;
  font-weight: 700;
}

.img-clock {
  float: right;
  width: 440px;
  height: 340px;
  padding: 30px;
  padding-right: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));;
  z-index: -1;
}

/* section-2 and 3 */

.block {
  display: inline-block;
  width: 45%;
  padding: 10px;
}

.block-text {
  display: inline-table;
  width: 70%;
  line-height: 18px;
}

.star-img {
  display: inline-table;
  padding: 20px;
  }

/* footer */



/* all */

h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 30px;
  padding-left: 0px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  padding-left: 0px;
}

/* hr line */

.h-line {
  height: 2px;
  background-color: #373867;
  opacity: 0.4;
  border-radius: 10px;
  width: 820px;
  margin-top: 40px;
  margin-bottom: 40px;
}