.footer {
    display: flex;
    width: 100%;
    background-color: #D9D9E2;
}
.footer ul {
    display: flex;
    padding: 1em;
}
.icons {
    display: flex;
    flex-wrap: nowrap;
    width: 45%;
    padding: .2em;
    flex-basis: 230px;
}
.footerp {
    text-align: center;
    align-self: center;
    width: 55%;
    font-size: 14px;
}