.header-text {
  padding: .5em 0 .5em 0;
  background-color: #373867;
  width: 100%
}
.header-radium {
  padding-left: .3em;
  color: #46A37C;
  font-size: 3.75em;
  font-weight: bold;
}
.header-rocket {
  color: #AACF9B;
  font-size: 3.75em;
  font-weight: lighter;
}
.menu-bars {
  display: none;
}