/* general */
body {
    font-family: 'Roboto', sans-serif;
    color: #373867;
    font-weight: 400;
}
a:link, a:visited, a:active{
    text-decoration: none;
}
h1 {
    line-height: 100px;
    font-size: 60px;
    font-weight: 700;
}
h2 {
    padding: 30px 0 30px 0;
    font-size: 30px;
    font-weight: 700;
}
h3 {
    padding-bottom: 1em;
    font-size: 20px;
    font-weight: 700;
}
h4 {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 1em;
}
/* aside */
.aside-menu-text {
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline 5px #AACE9B;
}
.aside-contactus-text {
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline 5px #AACE9B;
}

/* main */

.section-1 p {
    line-height: 30px;
    font-size: 16px;
    padding-bottom: 10px;
}
.img-clock {
    width: 440px;
    height: 340px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));;
    z-index: -1;
}
.block-text {
    line-height: 18px;
}

/* form */
.submit {
    border: 0;
    border-radius: 5px;
    background-color: #AACE9B;
    text-transform: uppercase;
    font-weight: 500;
}
.reset {
    border-radius: 5px;
    background-color: #ffffff;
    border-color: #373867;
    border-radius: 5px;
    border-width: 1px;
    text-transform: uppercase;
    font-weight: 500;
}

/* about-us */
.aboutus-text p {
    line-height: 30px;
}

/* last-section */
.a-list {
    line-height: 18px;
    font-size: 12px;
}
ol {
    list-style-type: decimal;
    padding-left: 1em;
}

@media screen and (max-width: 780px) {
    aside {
        display: none;
    }
    
}